* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fbe9e7;
}
.card {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #fff;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25);
}
.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .details .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card .details .content h2 {
    text-align: center;
    font-weight: 700;
    line-height: 1em;
}
.card .details .content h2 span {
    color: #e21212;
    font-size: 0.8em;
}
.card .details .content .social-icons {
    position: relative;
    display: flex;
    margin-top: 10px;
}
.card .details .content .social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #333;
    color: #fff;
}